<p>In order to test the <strong>pyserial</strong> module and automate the configuration of networking devices over serial connections, you need a physical device to connect to.</p><p>However, there is a way to simulate a serial console in GNS3 and connect to it from a Linux machine (tested with Ubuntu, GNS3 is installed and runs on Ubuntu).</p><p><br></p><p><strong>1. Install the following packages on Ubuntu:</strong></p><ul><li><p><em>sudo apt install screen</em></p></li><li><p><em>sudo apt install socat</em></p></li></ul><p><br></p><p><strong>2. </strong>Start the device in GNS3 and find out the port to which the telnet console is mapped</p><p>On Ubuntu execute:<strong> ps -ef | grep telnet</strong></p><figure><img src="https://img-c.udemycdn.com/redactor/raw/article_lecture/2021-01-18_11-40-14-9ba40bf8801aa4b35dde12d8733c0cf4.png"></figure><p>In this example, the port is 5008.</p><p><br></p><p><strong>3.</strong> In a terminal, execute the next command to <strong>map</strong> the <strong>telnet</strong> port to a <strong>virtual serial</strong> port:</p><p><em>socat pty,link=/home/YOUR_USER/ttyS0,raw,echo=1 tcp:localhost:5008</em></p><p><br></p><p><strong>4.</strong> In another terminal, execute the next command to initiate a session:</p><p><em>screen /home/YOUR_USER/ttyS0 9600</em></p><p><br></p><p>After, we press <strong>ENTER</strong> and close the terminal when the <strong>device prompt</strong> has appeared.</p><p><br></p><p>In the first terminal, we press <strong>Ctrl+c</strong> to cancel the <strong>socat</strong> command, and we execute the same one more time.</p><p><em>socat pty,link=/home/YOUR_USER/ttyS0,raw,echo=1 tcp:localhost:5008</em></p><p><br></p><p>Now, we can use the pyserial module in our Python programs:
</p><pre class="prettyprint linenums">import serial
import time

with serial.Serial(port='/home/YOUR_USER/ttyS0', baudrate=9600, parity='N', stopbits=1, bytesize=8, timeout=8) as console:
    if console.isOpen():
        print('Serial is Opened')
        console.write(b'\n')
        time.sleep(1)
        console.write(b'show version\n')
        time.sleep(3)

        bytes_to_be_read = console.inWaiting()
        output = console.read(bytes_to_be_read)
        print(output.decode())</pre>